# Load Zephyr board defconfig descriptions.
osource "/zmk-workspace/zmk/app/module/boards/nicekeyboards/nice_nano/Kconfig.defconfig"
osource "/zmk-workspace/zmk/app/boards/nicekeyboards/nice_nano/Kconfig.defconfig"
