# Load board Kconfig descriptions.
osource "/zmk-workspace/zmk/app/module/boards/nicekeyboards/nice_nano/Kconfig.nice_nano"
osource "/zmk-workspace/zmk/app/boards/nicekeyboards/nice_nano/Kconfig.nice_nano"
